#jmailtoolbar .yui-button {
    float: left;
    position: relative;
    color: black;
}

#jmailtoolbar .fixedbsize {
    width: 80px;
    height: 25px;
}

#jmailtoolbar .yui-button .first-child a {
   font-size: 13px;
   color: black;
}

#label_list {
    padding: 5px;
    padding-top: 10px;
}

#label_list ul li {
    list-style: none;
    clear: both;
}

#label_list ul li em {
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

#label_list li.inbox em {
    background-image: url([[pix:block_jmail|inbox]]);
}

#label_list li.draft em {
    background-image: url([[pix:block_jmail|draft]]);
}

#label_list li.sent em {
    background-image: url([[pix:block_jmail|email]]);
}

#label_list li.trash em {
    background-image: url([[pix:block_jmail|trash]]);
}

#label_list li.folder em {
    background-image: url([[pix:block_jmail|folder]]);
}

#label_list li a {
    padding: 3px;
}

.yui-skin-sam .yui-layout .yui-layout-hd {
    background: none;
    border: 1px solid #808080;
    background-color: #F2F2F2;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-hd h2 {
    font-weight: normal;
    background-color: #F2F2F2;
    color: black;
    padding: 2px;
    font-size: 1em;
}

#jmailtoolbar {
    clear: both;
}

#maillist {
    clear: both;
}

#jmailtoolbar .yui-button, #action_buttons .yui-button {
    position: relative;
    display: block;
    float: left;
}

#jmailtoolbar button, #action_buttons button  {
    padding: 0 2px 0 23px;
}

#moveb button, #moreb button  {
    padding: 0px;
    padding-left: 23px;
    padding-right: 30px;
}

#jmailtoolbar .icon, #action_buttons .icon  {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 4px;
    background-image: url([[pix:block_jmail|trash]]);
    background-repeat: no-repeat;
}

#checkmail .icon {
    background-image: url([[pix:block_jmail|email]]);
}

#newmail .icon {
    background-image: url([[pix:block_jmail|new]]);
}

#editb .icon {
    background-image: url([[pix:block_jmail|new]]);
}

#deleteb .icon {
    background-image: url([[pix:block_jmail|trash]]);
}

#replyb .icon {
    background-image: url([[pix:block_jmail|reply]]);
}

#replytoallb .icon {
    background-image: url([[pix:block_jmail|reply]]);
}

#moveb .icon {
    background-image: url([[pix:block_jmail|move]]);
}

#moreb .icon {
    background-image: url([[pix:block_jmail|settings]]);
}

#forwardb .icon {
    background-image: url([[pix:block_jmail|forward]]);
}

#printb .icon {
    background-image: url([[pix:block_jmail|print]]);
}

#approveb .icon {
    background-image: url([[pix:block_jmail|email]]);
}

#contact_list {
    padding: 5px;
}

#user_labels .labelactions {
    float: right;
}

#contact_list_users .profileimage{
    float: left;
}

#contact_list_users .fullname{
    float: left;
}

#contact_list_users .fullname input{
    font-size: 0.8em;
    width: 50px;
    height: 15px;
    padding: 0px;
    margin: 0px;
}

.jmail-even{
    background-color: white;
}

.jmail-odd{
    background-color: #EDF5FF;
}

#search_bar {
    clear: both;
    margin-top: 15px;
    padding: 6px;
}

#search_bar input{
    width: 85%;
    background-image: url([[pix:block_jmail|search]]);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.loading_big {
    background-image: url([[pix:block_jmail|loading_big]]);
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    text-align: center;
    margin: auto;
}

#mail_header {
    background-color: #dddddd;
}

#mail_header .mail_el {
    width: 75px;
    float: left;
}

.destinatary, .labelactions {
    border: 1px outset #E6E6E6;
    background-color: #EEE;
    line-height: 10px;
    font-size: 10px;
}

.contact {
    clear: both;
}

.attachments {
    border: 2px dotted green;
}

.attachmentsbottom {
    display: none;
}

.messageaction {
    width: 50px;
    border: 1px solid black;
    text-align: center;
}

.approvalpending {
    color: red;
    font-weight: strong;
}

#newemailpanel .ft {
    border: none;
}

.yui-skin-sam .yui-panel-container {
    z-index: 2;
}

.composelist {
    display: inline;
}
